    <div id="wrapper">
      <h1>You've come to the best place for real news</h1>
      <h2><i>Scraped Directly from the horses mouth at Breitbart</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
      <div id="notesID"></div>
    </div>